@font-face {
	font-family: kievit;
	src: url('../kievit_bold.otf');
}

body {
	margin: 0 auto;
	background-image: url(../images/bggrad.png);
}

#header {
	position: absolute;
	margin: 0 0;
	top: 0;
	width: 100%;
	height: 13px;
	background-color: #c2d1e4;
	}
	
#colorbar {
	position: absolute;
	margin: 0 0;
	top: 0;
	right: 0;
	width: 154px;
	height: 13px;
	background-image: url(../images/colorbar.jpg);
	}

#panelwrapper {
	position: relative;
	margin: 0 auto;
	top: 13px;
	width: 1024px;
	height: 1000px;
	background-color: #FFF;
}

#main-nav {
	position: absolute;
	top: 97px;
	left: 328px;
	}

#main-nav a {
	padding: 0;
	}
	
#features-nav {
	position: absolute;
	top: 175px;
	left: 62px;
	width: 900px;
	height: 92px;
	}
	
#video {
	position: absolute;
	top: 0;
	left: 0;
	}
	
#maps {
	position: absolute;
	top: 0;
	left: 170px;
	}

#feeds {
	position: absolute;
	top: 0;
	left: 310px;
	}

#coupons {
	position: absolute;
	top: 0;
	left: 495px;
	}

#galleries {
	position: absolute;
	top: 0;
	left: 665px;
	}

#leadgen {
	position: absolute;
	top: 0;
	left: 820px;
	}

#dotrule {
	position: absolute;
	width: 889px;
	height: 4px;
	top: 280px;
	left: 67px;
	background-image: url(../images/Dotted-Rule_Horiz.jpg);
	}
	
#index_content {
	position: absolute;
	width: 784px;
	height: 300px;
	top: 200px;
	left: 120px;
	}

#index_content ul {
	font-size: 20pt;
	font-family: kievit;
	line-height:1;
	position:absolute;
	color: #666
	}

.feature_title {
	width: 350px;
	position: absolute;
	top: 0;
	left: 0;
	}
	
#bullets {
	position: absolute;
	top: 85px;
	left: -10px;
	width: 300px;
	}
	
#gallerylink {
	position: absolute;
	top: 195px;
	left: 30px;
	}

#gallerylink a {
	font-family: georgia;
	font-style: italic;
	font-size: 15pt;
	color: #2869a4;
	}
	
#demoads {
	position: absolute;
	width: 451px;
	height: 296px;
	left: 400px;
	}

#adloader {
	position:absolute;
	width: 300px;
	height: 250px;
	background-color: #666;
	}
	
#ad_details {
	position: relative;
	top: 260px;
	left: 10px;
	width: 250px;
	height: 45px;
	}

.adtitle {
	font-family: kievit;
	font-size: 20pt;
	text-transform: uppercase;
	color: #666;
	}

#ad_details nav {
	font-family: georgia;
	font-style: italic;
	font-size: 10pt;
	color: #2869a4;
	}


#thumbs {
	position: absolute;
	top: 0;
	left: 320px;
	}

.thumb {
	width: 55px;
	height: 50px;
	background-color: #666;
	}
	
#thumb1 {
	position: absolute;
	top: 0px;
	left: 0px;
	}
	
#thumb2 {
	position: absolute;
	top: 66px;
	left: 0px;
	}
	
#thumb3 {
	position: absolute;
	top: 132px;
	left: 0px;
	}
	
#thumb4 {
	position: absolute;
	top: 200px;
	left: 0px;
	}
	
.roundbox {
	position: absolute;
	top: 735px;
	left: 62px;
	width: 900px;
	height: 200px;
	background-color: #c2d1e4;
	border-radius: 7px;
	}

#knowicon {
	position: relative;
	top: 25px;
	left: 20px;
	width: 27px;
	height: 31px;
	background-image: url(../images/icons/Know_Icon.png);
	background-repeat: no-repeat;
	}
	
#besticon {
	position: relative;
	top: -5px;
	left: 320px;
	width: 31px;
	height: 29px;
	background-image: url(../images/icons/Best_Icon.png);
	background-repeat: no-repeat;
	}
	
#assetsicon {
	position: relative;
	top: -41px;
	left: 630px;
	width: 29px;
	height: 36px;
	background-image: url(../images/icons/Assets_Icon.png);
	background-repeat: no-repeat;
	}
	
.headline {
	position: absolute;
	font-family: kievit;
	font-size: 15pt;
	color: #666;
	top: 30px;
	}
	
#know {
	left: 60px;
	}
	
#best {
	left: 370px;
	}
	
#need {
	left: 675px;
	}

.bulletbox {
	position: absolute;
	top: 65px;
	width: 250px;
	font-family: georgia;
	font-style: italic;
	font-size: 10pt;
	line-height: 18px;
	color: #666666;
	}

#bulletbox1 {
	left: 25px;
	}
	
#bulletbox2 {
	left: 325px;
	}
	
#bulletbox3 {
	left: 625px;
	}


#footer {
	position: relative;
	margin: 0 auto;
	bottom: 0;
	height: 45px;
	width: 1024px;
	background-color: #FF0000;
	z-index: 2;
	clear: both;
	}
	
#copyright {
	position: relative;
	top: 15px;
	left: 325px;
	font-family: helvetica, arial, sans-serif;
	font-size: 8pt;
	color: #ccc;
	z-index: 3;
}


#panel {
	position: relative;
	margin: 0 auto;
	top: 13px;
	width: 1024px;
	height: 100%;
	background-image: url(../images/index/balls.png);
}


#logo {
	position: absolute;
	top: 47px;
	left: 0;
	height: 54px;
	width: 303px;
	background-image: url(../images/logo.png);
	z-index:2;
	}

#content {
	position: absolute;
	width: 500px;
	height: 500px;
	top: 320px;
	left: 50px;
	}
	
#content ul {
	font-size: 20pt;
	font-family: kievit;
	line-height:1;
	color: #666
	}


#welcometitle {
	position: absolute;
	background-image: url(../images/index/welcome.png);
	width: 430px;
	height: 70px;
	z-index:2;
	}
	
#bodycopy {
	position: relative;
	top: 100px;
	left: 10px;
	width: 400px;
	font-family: helvetica, arial, sans-serif;
	font-size: 13pt;
	color: #666;
	z-index:2;
	}
	
#getstartedlink {
	position: absolute;
	top: 220px;
	left: 10px;
	z-index:2;
	}

#getstartedlink a {
	font-family: georgia;
	font-style: italic;
	font-size: 15pt;
	color: #2869a4;
	}

	
.roundbox {
	position: absolute;
	top: 735px;
	left: 62px;
	width: 900px;
	height: 225px;
	background-color: #c2d1e4;
	border-radius: 7px;
	z-index:2;
	}
	
.roundtext {
	position: absolute;
	top: 60px;
	width: 250px;
	font-family: georgia;
	font-style: italic;
	}

.roundtext p {
	font-size: 11pt;
	color: #666;
	}

.roundbox a {
	font-size: 13pt;
	color: #2869a4;
	text-decoration: none;
	}
	
#buildbox {
	left: 25px;
	}

#funkybox {
	left: 325px;
	}

#livingbox {
	left: 635px;
	}
	
#buildlink {
	position: absolute;
	top: 115px;
	}

#funkylink {
	position: absolute;
	top: 115px;
	}

#livinglink {
	position: absolute;
	top: 115px;
	}

#knowicon {
	position: relative;
	top: 25px;
	left: 20px;
	width: 27px;
	height: 31px;
	background-image: url(../images/icons/Know_Icon.png);
	background-repeat: no-repeat;
	}
	
#besticon {
	position: relative;
	top: -5px;
	left: 320px;
	width: 31px;
	height: 29px;
	background-image: url(../images/icons/Best_Icon.png);
	background-repeat: no-repeat;
	}
	
#assetsicon {
	position: relative;
	top: -41px;
	left: 630px;
	width: 29px;
	height: 36px;
	background-image: url(../images/icons/Assets_Icon.png);
	background-repeat: no-repeat;
	}
	
.headline {
	position: absolute;
	font-family: kievit;
	font-size: 15pt;
	color: #666;
	top: 30px;
	}
	
#know {
	left: 60px;
	}
	
#best {
	left: 365px;
	}
	
#need {
	left: 675px;
	}



#footer {
	visibility: hidden;
	position: relative;
	margin: 0 auto;
	bottom: 0;
	height: 45px;
	width: 1024px;
	background-color: #FF0000;
	z-index: 2;
	clear: both;
	}
	
#copyright {
	position: relative;
	top: 15px;
	left: 325px;
	font-family: helvetica, arial, sans-serif;
	font-size: 8pt;
	color: #ccc;
	z-index: 3;
	}