<div id="ad_image_wrapper" style="width:400px;">
	<!--placeholder-->
	<div id="ad_box" style="width:300px; height:250px; background-color:#cccccc; float:left;">
	</div>
	<nav id="thumbs">
		<div class="thumb" id="thumb1"></div>
		<div class="thumb" id="thumb2"></div>
		<div class="thumb" id="thumb3"></div>
		<div class="thumb" id="thumb4"></div>
	</nav>
</div>