<nav id="content-nav">

<%= link_to image_tag("creative_navigation/resize_off.png"), '/resize', :class=> "resize_icon icon"%>
<%= link_to image_tag("creative_navigation/agency_off.png"), '/we_build', :class=> "resize_icon icon"%>
<%= link_to image_tag("creative_navigation/spongecell_off.png"), '/we_design', 
	:class=> "resize_icon icon", :style=>"margin-right: 0px;"%>
		
</nav>
	
<div id="dotrule"></div>