<div class="roundbox">
	<div class="roundbox_icon"><%= image_tag "icons/need_to_know_icon.png" %></div>
	
	<div class="headline" id="know">
		NEED TO KNOW
	</div>
		
	<div class="roundbox_icon"><%= image_tag "icons/best_practices_icon.png" %></div>
	<div class="headline" id="best">
		BEST PRACTICES
	</div>
		
	<div class="roundbox_icon"><%= image_tag "icons/assets_icon.png" %></div>
	<div class="headline" id="need">
		WHAT WE NEED
	</div>
		
	<div class="bulletbox" id="bulletbox1" style="clear:both;">
		<ul>
			<li>At vero eos et accusamus et iusto odio dignissimos ducimus qui</li>
			<li>ditiis praesentium voluptatu</li>				
			<li>deleniti atque corrupti quos res</li>
		</ul>
	</div>
		
	<div class="bulletbox" id="bulletbox2">
		<ul>
			<li>At vero eos et accusamus et iusto odio dignissimos ducimus qui</li>
			<li>ditiis praesentium voluptatu</li>
			<li>deleniti atque corrupti quos res</li>
		</ul>
	</div>
		
	<div class="bulletbox" id="bulletbox3">
		<ul>
			<li>At vero eos et accusamus et iusto odio dignissimos ducimus qui</li>
			<li>ditiis praesentium voluptatu</li>
			<li>deleniti atque corrupti quos res</li>
		</ul>
	</div>
</div>