<nav id="content-nav">

<%= link_to image_tag("creative_navigation/resize_off.png"), '#', :class=> "resize_icon"%>
<%= link_to image_tag("creative_navigation/agency_off.png"), '#', :class=> "resize_icon"%>
<%= link_to image_tag("creative_navigation/spongecell_off.png"), '#', 
	:class=> "resize_icon", :style=>"margin-right: 0px;"%>
		
</nav>
	
<div id="dotrule"></div>