<div id="content-nav">

<%= link_to image_tag("trafficking_navigation/site_direct_off.png"), "/site_direct", :class => "icon-left" %>

<%= link_to image_tag("trafficking_navigation/third_party_off.png"), "/third_party", :class => "icon-right" %>

</div>