<div style="width: 300px; height: 250px;"> 
                  <script type="text/javascript"> 
                    var spongecellParams = {
                    clickTag: "SPONGECELL_CLICK_TAG",
                    siteId: "SPONGECELL_SITE_ID",
                    placementId: "SPONGECELL_PLACEMENT_ID",
                    resourceHost: "statics.live.spongecell.com",
                    cdnDisabled: true,
                    rotationsDisabled: true,
                    trackingDisabled: true
                    };
                  </script> 
                  <script src="http://spongecell.com/api/placements/<%= @ad_id %>.js" type="text/javascript"></script> 
                  
                </div>
