<nav id="main-nav">
			<!--Build Your Ad-->
			<a href="Resize.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Build','','/images/Build_Nav/Build_Over.jpg',1)"><img src="/images/Build_Nav/Build_Off.jpg" alt="Build Your Ad" name="Build" width="182" height="52" border="0" id="Build" /></a>
			<!--<a href="#" ><img src="images/Build_Nav/Build_Over.jpg" alt="Build Your Ad" width="182" height="52" border="0" /></a>-->
			<!--Functionality Details-->
			<a href="video" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Func','','/images/Build_Nav/Func_Over.jpg',1)">
			<% if @category = :feature %>
			<img src="/images/Build_Nav/Func_Over.jpg" alt="Functionality Details" name="Func" width="271" height="52" border="0" id="Func" />
			<% else %>
			<img src="/images/Build_Nav/Func_Off.jpg" alt="Functionality Details" name="Func" width="271" height="52" border="0" id="Func" />
			<% end %>
			</a>
			<!--<a href="#" ><img src="images/Build_Nav/Func_Over.jpg" alt="Functionality Details" width="271" height="52" border="0" /></a>-->
			<!--Get Your Ad Live-->
			<a href="3rd-Party.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Live','','/images/Build_Nav/Live_Over.jpg',1)"><img src="/images/Build_Nav/Live_Off.jpg" alt="Get Your Ad Live" name="Live" width="207" height="52" border="0" id="Live" /></a>
			<!--<a href="#" ><img src="images/Build_Nav/Live_Over.jpg" alt="Get Your Ad Live" width="207" height="52" border="0" /></a>-->
		</nav>