<br clear="all" />
<div id="content">

<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

<script type="text/javascript">

$(document).ready(function() {
	
	$(".gallery_box").hover(
		function() {
			$(this).find(".sizes_div").show("slide", {direction: right}, 300);
		},
		function() {
			$(this).find(".sizes_div").hide("slide", {direction: right}, 300);
		}
	);
	
});

</script>

<style type="text/css">
.gallery_box {
	float:left;
	margin:6px;
	background-color: #739ec5;
	height:120px;
	width:140px;
}

.gallery_box_header {
	background-color: #2a6aa5;
	text-transform: uppercase;
	font-weight: bold;
	height: 22px;
	width: 116px;
	margin: 5px;
	color: white;
	font-size: 11px;
	line-height: 11px;
	padding: 4px 7px 4px 7px
}

.gallery_box_thumbnail{
	background-color: #cccccc;
	width: 130px;
	margin: 5px;
	height: 70px;
	position: relative;
}

.sizes_div {
	background-color: black;
	opacity: .8;
	width: 120px;
	height: 60px;
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
	padding: 5px;
}

.sizes_button {
	display: none;
	background-color: white;
	opacity: .8;
	width: 130px;
	margin: -75px 5px 5px 5px;
	height: 15px;	
}


</style>

<div class="gallery_box round">
	<div class="gallery_box_header round">Ad Title Goes Here</div>
	<div class="gallery_box_thumbnail">
		<div class="sizes_div">
			<a href="#" style="color:white; font-size:12px;">300x250</a> | 
			<a href="#" style="color:white; font-size:12px;">728x90</a>
		</div>	
	</div>
	<div class="sizes_button">sizes</div>
</div>

<div class="gallery_box round">
	<div class="gallery_box_header round">American Express Vacations</div>
	<div class="gallery_box_thumbnail">
		<div class="sizes_div">
			<a href="#" style="color:white; font-size:12px;">300x250</a> | 
			<a href="#" style="color:white; font-size:12px;">728x90</a>
		</div>	
	</div>
	<div class="sizes_button">sizes</div>
</div>

<div class="gallery_box round">
	<div class="gallery_box_header round"></div>
	<div class="gallery_box_thumbnail">
		<div class="sizes_div">
			<a href="#" style="color:white; font-size:12px;">300x250</a> | 
			<a href="#" style="color:white; font-size:12px;">728x90</a>
		</div>	
	</div>
	<div class="sizes_button">sizes</div>
</div>


<div class="gallery_box round">
	<div class="gallery_box_header round"></div>
	<div class="gallery_box_thumbnail">
		<div class="sizes_div">
			<a href="#" style="color:white; font-size:12px;">300x250</a> | 
			<a href="#" style="color:white; font-size:12px;">728x90</a>
		</div>	
	</div>
	<div class="sizes_button">sizes</div>
</div>

<div class="gallery_box round">
	<div class="gallery_box_header round"></div>
	<div class="gallery_box_thumbnail">
		<div class="sizes_div">
			<a href="#" style="color:white; font-size:12px;">300x250</a> | 
			<a href="#" style="color:white; font-size:12px;">728x90</a>
		</div>	
	</div>
	<div class="sizes_button">sizes</div>
</div>

<div class="gallery_box round">
	<div class="gallery_box_header round"></div>
	<div class="gallery_box_thumbnail">
		<div class="sizes_div">
			<a href="#" style="color:white; font-size:12px;">300x250</a> | 
			<a href="#" style="color:white; font-size:12px;">728x90</a>
		</div>	
	</div>
	<div class="sizes_button">sizes</div>
</div>


<div class="gallery_box round">
	<div class="gallery_box_header round"></div>
	<div class="gallery_box_thumbnail">
		<div class="sizes_div">
			<a href="#" style="color:white; font-size:12px;">300x250</a> | 
			<a href="#" style="color:white; font-size:12px;">728x90</a>
		</div>	
	</div>
	<div class="sizes_button">sizes</div>
</div>

<div class="gallery_box round">
	<div class="gallery_box_header round"></div>
	<div class="gallery_box_thumbnail">
		<div class="sizes_div">
			<a href="#" style="color:white; font-size:12px;">300x250</a> | 
			<a href="#" style="color:white; font-size:12px;">728x90</a>
		</div>	
	</div>
	<div class="sizes_button">sizes</div>
</div>

<div class="gallery_box round">
	<div class="gallery_box_header round"></div>
	<div class="gallery_box_thumbnail">
		<div class="sizes_div">
			<a href="#" style="color:white; font-size:12px;">300x250</a> | 
			<a href="#" style="color:white; font-size:12px;">728x90</a>
		</div>	
	</div>
	<div class="sizes_button">sizes</div>
</div>


<div class="gallery_box round">
	<div class="gallery_box_header round"></div>
	<div class="gallery_box_thumbnail">
		<div class="sizes_div">
			<a href="#" style="color:white; font-size:12px;">300x250</a> | 
			<a href="#" style="color:white; font-size:12px;">728x90</a>
		</div>	
	</div>
	<div class="sizes_button">sizes</div>
</div>

<div class="gallery_box round">
	<div class="gallery_box_header round"></div>
	<div class="gallery_box_thumbnail">
		<div class="sizes_div">
			<a href="#" style="color:white; font-size:12px;">300x250</a> | 
			<a href="#" style="color:white; font-size:12px;">728x90</a>
		</div>	
	</div>
	<div class="sizes_button">sizes</div>
</div>

<div class="gallery_box round">
	<div class="gallery_box_header round"></div>
	<div class="gallery_box_thumbnail">
		<div class="sizes_div">
			<a href="#" style="color:white; font-size:12px;">300x250</a> | 
			<a href="#" style="color:white; font-size:12px;">728x90</a>
		</div>	
	</div>
	<div class="sizes_button">sizes</div>
</div>


<div class="gallery_box round">
	<div class="gallery_box_header round"></div>
	<div class="gallery_box_thumbnail">
		<div class="sizes_div">
			<a href="#" style="color:white; font-size:12px;">300x250</a> | 
			<a href="#" style="color:white; font-size:12px;">728x90</a>
		</div>	
	</div>
	<div class="sizes_button">sizes</div>
</div>

<div class="gallery_box round">
	<div class="gallery_box_header round"></div>
	<div class="gallery_box_thumbnail">
		<div class="sizes_div">
			<a href="#" style="color:white; font-size:12px;">300x250</a> | 
			<a href="#" style="color:white; font-size:12px;">728x90</a>
		</div>	
	</div>
	<div class="sizes_button">sizes</div>
</div>

<div class="gallery_box round">
	<div class="gallery_box_header round"></div>
	<div class="gallery_box_thumbnail">
		<div class="sizes_div">
			<a href="#" style="color:white; font-size:12px;">300x250</a> | 
			<a href="#" style="color:white; font-size:12px;">728x90</a>
		</div>	
	</div>
	<div class="sizes_button">sizes</div>
</div>


<div class="gallery_box round">
	<div class="gallery_box_header round"></div>
	<div class="gallery_box_thumbnail">
		<div class="sizes_div">
			<a href="#" style="color:white; font-size:12px;">300x250</a> | 
			<a href="#" style="color:white; font-size:12px;">728x90</a>
		</div>	
	</div>
	<div class="sizes_button">sizes</div>
</div>

<div class="gallery_box round">
	<div class="gallery_box_header round"></div>
	<div class="gallery_box_thumbnail">
		<div class="sizes_div">
			<a href="#" style="color:white; font-size:12px;">300x250</a> | 
			<a href="#" style="color:white; font-size:12px;">728x90</a>
		</div>	
	</div>
	<div class="sizes_button">sizes</div>
</div>

<div class="gallery_box round">
	<div class="gallery_box_header round"></div>
	<div class="gallery_box_thumbnail">
		<div class="sizes_div">
			<a href="#" style="color:white; font-size:12px;">300x250</a> | 
			<a href="#" style="color:white; font-size:12px;">728x90</a>
		</div>	
	</div>
	<div class="sizes_button">sizes</div>
</div>


<div class="gallery_box round">
	<div class="gallery_box_header round"></div>
	<div class="gallery_box_thumbnail">
		<div class="sizes_div">
			<a href="#" style="color:white; font-size:12px;">300x250</a> | 
			<a href="#" style="color:white; font-size:12px;">728x90</a>
		</div>	
	</div>
	<div class="sizes_button">sizes</div>
</div>

<div class="gallery_box round">
	<div class="gallery_box_header round"></div>
	<div class="gallery_box_thumbnail">
		<div class="sizes_div">
			<a href="#" style="color:white; font-size:12px;">300x250</a> | 
			<a href="#" style="color:white; font-size:12px;">728x90</a>
		</div>	
	</div>
	<div class="sizes_button">sizes</div>
</div>

<div class="gallery_box round">
	<div class="gallery_box_header round"></div>
	<div class="gallery_box_thumbnail">
		<div class="sizes_div">
			<a href="#" style="color:white; font-size:12px;">300x250</a> | 
			<a href="#" style="color:white; font-size:12px;">728x90</a>
		</div>	
	</div>
	<div class="sizes_button">sizes</div>
</div>


<div class="gallery_box round">
	<div class="gallery_box_header round"></div>
	<div class="gallery_box_thumbnail">
		<div class="sizes_div">
			<a href="#" style="color:white; font-size:12px;">300x250</a> | 
			<a href="#" style="color:white; font-size:12px;">728x90</a>
		</div>	
	</div>
	<div class="sizes_button">sizes</div>
</div>

<div class="gallery_box round">
	<div class="gallery_box_header round"></div>
	<div class="gallery_box_thumbnail">
		<div class="sizes_div">
			<a href="#" style="color:white; font-size:12px;">300x250</a> | 
			<a href="#" style="color:white; font-size:12px;">728x90</a>
		</div>	
	</div>
	<div class="sizes_button">sizes</div>
</div>

<div class="gallery_box round">
	<div class="gallery_box_header round"></div>
	<div class="gallery_box_thumbnail">
		<div class="sizes_div">
			<a href="#" style="color:white; font-size:12px;">300x250</a> | 
			<a href="#" style="color:white; font-size:12px;">728x90</a>
		</div>	
	</div>
	<div class="sizes_button">sizes</div>
</div>


<div class="gallery_box round">
	<div class="gallery_box_header round"></div>
	<div class="gallery_box_thumbnail">
		<div class="sizes_div">
			<a href="#" style="color:white; font-size:12px;">300x250</a> | 
			<a href="#" style="color:white; font-size:12px;">728x90</a>
		</div>	
	</div>
	<div class="sizes_button">sizes</div>
</div>

<div class="gallery_box round">
	<div class="gallery_box_header round"></div>
	<div class="gallery_box_thumbnail">
		<div class="sizes_div">
			<a href="#" style="color:white; font-size:12px;">300x250</a> | 
			<a href="#" style="color:white; font-size:12px;">728x90</a>
		</div>	
	</div>
	<div class="sizes_button">sizes</div>
</div>

</div>