<div id="panel">

	<div id="dotrule"></div>
	
	<div id="content">
		<div id="welcometitle"></div>
		<div id="bodycopy">
			<p>
We’re happy you’re here! This site is your resource for all things Spongecell. Use the tabs above to find helpful resources that will make executing your Spongecell 
campaign a magical and pleasant experience. 
			</p>
		</div>
		<div id="getstartedlink">
			<a href="#">get started here »</a>
		</div>
	</div>
	
	<div class="roundbox">
		<div id="knowicon"></div>
		<div id="besticon"></div>
		<div id="assetsicon"></div>
			
		<div class="headline" id="know">
			BUILD YOUR AD
		</div>
		
		<div class="headline" id="best">
			FUNCTIONALITY DETAILS
		</div>
		
		<div class="headline" id="need">
			GET YOUR AD LIVE
		</div>
		
		<div class="roundtext" id="buildbox">
			<p>
				Want us to build you an ad? Got some creative? Got nothing at all? Click here to find out how we can help you put your ad together.
			</p>
			<div id="buildlink">
				<a href="Resize.html">take me there »</a>
			</div>
		</div>

		<div class="roundtext" id="funkybox">
			<p>
				We do a lot of cool stuff. Check out all our awesome functionality and find out what we need from you to build it.			
			</p>
			<div id="funkylink">
				<a href="Functionality-Details.html">take me there »</a>
			</div>
		</div>

		<div class="roundtext" id="livingbox">
			<p>
				Ready to traffic out that beautiful Spongecell banner? Clueless about how to start? Click here to learn all the ins and outs of the Spongecell trafficking process!
			</p>
			<div id="livinglink">
				<a href="3rd-Party.html">take me there »</a>
			</div>
		</div>
		
	</div><!-- end roundbox -->
	
</div><!-- end panel -->

