<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Build Dot Spongecell | Functionality Details</title>



<LINK href="default.css" rel="stylesheet" type="text/css">



</head>

<body onload="MM_preloadImages('images/Features_Nav/Coupons_Over.jpg')">

  	<div id="headerbar">
		<div id="colorbar">
		</div>
	</div>

	<div id="wrapper">
	
		<nav id="top-nav">
		<a href="http://www.spongecell.com">HOME</a>&nbsp;
		<a href="http://gallery.spongecell.com">GALLERY</a>&nbsp;
		<a href="http://www.spongecell.com/about">ABOUT</a>&nbsp;
		<a class="selected" href="index.html">BUILD</a>&nbsp;
		<a href="http://www.spongecell.com/contact.html">CONNECT</a>
	</nav>
	
		<div id="panel">
	
			<div id="header"></div>
		
				<div style="position: relative; margin: auto; height: 2px; width: 1024px; background-color: #ccc; top: 113px; left:-50px;"></div>

			<a href="index.html"><div id="logo"></div></a>
		
			<nav id="main-nav">
			<!--Build Your Ad-->
			<a href="Resize.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Build','','images/Build_Nav/Build_Over.jpg',1)"><img src="images/Build_Nav/Build_Off.jpg" alt="Build Your Ad" name="Build" border="0" id="Build" /></a>
			<!--<a href="#" ><img src="images/Build_Nav/Build_Over.jpg" alt="Build Your Ad" width="157" height="36" border="0" /></a>-->
			<!--Functionality Details-->
			<a href="Functionality-Details.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Func','','images/Build_Nav/Func_Over.jpg',1)"><img src="images/Build_Nav/Func_Off.jpg" alt="Functionality Details" name="Func" width="218" height="36" border="0" id="Func" /></a>
			<!--<a href="#" ><img src="images/Build_Nav/Func_Over.jpg" alt="Functionality Details" width="218" height="36" border="0" /></a>-->
			<!--Get Your Ad Live-->
			<a href="3rd-Party.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Live','','images/Build_Nav/Live_Over.jpg',1)"><img src="images/Build_Nav/Live_Off.jpg" alt="Get Your Ad Live" name="Live" width="173" height="36" border="0" id="Live" /></a>
			<!--<a href="#" ><img src="images/Build_Nav/Live_Over.jpg" alt="Get Your Ad Live" width="173" height="36" border="0" /></a>-->
		</nav>
				
			<div id="dotrule"></div>


			<div id="content">
			
			<div id="welcometitle"></div>
			
			<div id="bodycopy">
				<p>
We’re happy you’re here! This site is your resource for all things Spongecell. Use the tabs above to find helpful resources that will make executing your Spongecell 
campaign a magical and pleasant experience. 
				</p>
			</div>
			
			<div id="getstartedlink">
				<a href="#">get started here »</a>
			</div>


		</div>
	
			<div class="roundbox">
		
			<div id="knowicon"></div>
			<div id="besticon"></div>
			<div id="assetsicon"></div>
			
			<div class="headline" id="know">
				BUILD YOUR AD
			</div>
		
			<div class="headline" id="best">
				FUNCTIONALITY DETAILS
			</div>
		
			<div class="headline" id="need">
				GET YOUR AD LIVE
			</div>
		
			<div class="roundtext" id="buildbox">
				<p>
					Want us to build you an ad? Got some creative? Got nothing at all? Click here to find out how we can help you put your ad together.
				</p>
				<div id="buildlink">
					<a href="Resize.html">take me there »</a>
				</div>
			</div>

			<div class="roundtext" id="funkybox">
				<p>
					We do a lot of cool stuff. Check out all our awesome functionality and find out what we need from you to build it.			
				</p>
				<div id="funkylink">
					<a href="Functionality-Details.html">take me there »</a>
				</div>
			
			</div>

			<div class="roundtext" id="livingbox">
				<p>
					Ready to traffic out that beautiful Spongecell banner? Clueless about how to start? Click here to learn all the ins and outs of the Spongecell trafficking process!
				</p>
				<div id="livinglink">
					<a href="3rd-Party.html">take me there »</a>
				</div>
			</div>
		
		</div>
		
		</div>

	</div>
