<%= render 'shared/trafficking_secondary_nav' %>

<div id="content">
		<div class="info">
			<h2>Direct to Sites</h2>
			<p>You provide the contacts, we send out our tags directly to the publishers and networks.</p>
			<p><a href="#" target="new">get started now »</a></p>
		</div>
	
		<div class="graphic">
			<img src="images/sitedirect.png" />
		</div>
		
		<div class="clearer"></div>
		<div class="roundbox_trafficking" style="margin-right: 20px;">
			<h3 id="left">Download a test tag</h3>
			<p>Before you jump into a live ad, get comfortable with our code by downloading this test tag.</p>
			<p><a href="#" target="new">click to download &raquo;</a></p>	
		</div>
		
		
		<div class="roundbox_trafficking">
			<h3 id="right">Uh ... what?</h3>			
			<p>We realize this stuff is pretty tough. Click here to reach out to our ad ops team if you have any questions.</p>
			<p><a href="#" target="new">click to get in touch &raquo;</a></p>
		</div>
	</div>
