<%= render 'shared/trafficking_secondary_nav' %>
	
<div id="content">
	<div class="info">
		<h2>3rd Party Ad Server</h2>
			<p>We can integrate with DART, Altas and other 3rd party servers! Download our 3rd Party trafficking guide to find out how.</p>
			<p><a href="#" target="new">get started now »</a></p>
	</div>
	
	<div class="graphic">
		<img src="images/3rdparty.png" />
	</div>
		
	<div class="clearer"></div>
	<div class="roundbox_trafficking" style="margin-right: 20px;">
		<h3 id="left">Download a test tag</h3>
		<p>Before you jump into a live ad, get comfortable with our code by downloading this test tag.</p>
		<p><a href="#" target="new">click to download &raquo;</a></p>	
	</div>
		
		
	<div class="roundbox_trafficking">
		<h3 id="right">Uh ... what?</h3>			
		<p>We realize this stuff is pretty tough. Click here to reach out to our ad ops team if you have any questions.</p>
		<p><a href="#" target="new">click to get in touch &raquo;</a></p>
	</div>
</div>