<%= render 'features_nav' %>

<div id="content">

	<div class="feature_title">
		<%= image_tag 'video2_title.jpg' %>
	</div>
			
	<div id="bullets">
		<ul>
			<li>bullet one</li>
			<li>bullet one</li>
			<li>bullet one</li>
		</ul>
	</div>
	
	<div id="gallerylink">
		<a href="#" target="new">see more in our gallery</a>
	</div>

	<div id="demoads">
	
		<div id="adloader">
			<% @ad_id = 46188832 %>
			<%= render 'ad_loader' %>                
		</div>
			
		<div id="ad_details">
			<div class="adtitle">
				Dr. Pepper
			</div>
			<nav>
				<a href="#">728x90</a> | 
				<a href="#">160x600</a>
			</nav>
		</div>
			
		<nav id="thumbs">
			<div class="thumb" id="thumb1"></div>
			<div class="thumb" id="thumb2"></div>
			<div class="thumb" id="thumb3"></div>
			<div class="thumb" id="thumb4"></div>
		</nav>
			
	</div>
	
</div>
	
<div class="roundbox">
	<div id="knowicon"></div>
	<div id="besticon"></div>
	<div id="assetsicon"></div>
			
	<div class="headline" id="know">
		NEED TO KNOW
	</div>
		
	<div class="headline" id="best">
		BEST PRACTICES
	</div>
		
	<div class="headline" id="need">
		WHAT WE NEED
	</div>
		
	<div class="bulletbox" id="bulletbox1">
		<ul>
			<li>At vero eos et accusamus et iusto odio dignissimos ducimus qui</li>
			<li>ditiis praesentium voluptatu</li>
			<li>deleniti atque corrupti quos res</li>
		</ul>
	</div>
		
	<div class="bulletbox" id="bulletbox2">
		<ul>
			<li>At vero eos et accusamus et iusto odio dignissimos ducimus qui</li>
			<li>ditiis praesentium voluptatu</li>
			<li>deleniti atque corrupti quos res</li>
		</ul>
	</div>
		
	<div class="bulletbox" id="bulletbox3">
		<ul>
			<li>At vero eos et accusamus et iusto odio dignissimos ducimus qui</li>
			<li>ditiis praesentium voluptatu</li>
			<li>deleniti atque corrupti quos res</li>
		</ul>
	</div>
		
</div>
